@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Technor";
  src: url("/fonts/Technor/Technor-Regular.otf");
}
@font-face {
  font-family: "Panchang";
  src: url("/fonts/Panchang/Panchang-Regular.otf");
}
@font-face {
  font-family: "Panchang";
  src: url("/fonts/Panchang/Panchang-Bold.otf");
  font-weight: bold;
}
body {
  background-color: black;
  background-image: radial-gradient(transparent 40%, black 90%),
    linear-gradient(rgba(255, 255, 255, 0.08) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.08) 1px, transparent 1px),
    linear-gradient(rgb(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgb(255, 255, 255, 0.05) 1px, transparent 1px);
  background-position: 0px 0px, -155px -120px, -155px -120px, -155px -120px,
    -155px -120px;
  background-size: 100% 100%, 350px 350px, 350px 350px, 70px 70px, 70px 70px;
  overflow: hidden;
}

body::before {
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent
    url("https://raw.githubusercontent.com/taimoorshahzada/Film-Grain-Noise-Effect-on-Background-in-Website-using-Pure-CSS/main/noise.gif")
    repeat 0 0;
  background-repeat: repeat;
  opacity: 0.05;
}

.card::before {
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent
    url("https://raw.githubusercontent.com/taimoorshahzada/Film-Grain-Noise-Effect-on-Background-in-Website-using-Pure-CSS/main/noise.gif")
    repeat 0 0;
  background-repeat: repeat;
  opacity: 0.05;
  z-index: 50;
}
